.landscape {
	display: flex;
	height: 100%;
}

.landscape-view {
	position: absolute;
	z-index: 1;
	width: 100%;
    height: 100%;
}

.landscape-header__logo {
	padding: 4px 8px;
	font-weight: bold;
	font-size: 18px;
	border-right: 1px solid black;
}

.landscape-header__buttons {
	margin: 4px 8px;
}

.landscape-header__buttons-item {
	width: 80px;
}