.vertex {
	width: 48px;
    height: 48px;
	position: absolute;
	z-index: 1;
	user-select: none;
	border-radius: 50%;
	border: 2px solid black;
}

.vertex-hover {
	border: 4px double black;
	margin: -2px 0 0 -2px;
}

.vertex-title {
	position: absolute;
	top: -25px;
	left: -27px;
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	cursor: move;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.vertex-edge {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: crosshair;
}