.app {
	height: 100%;
}

.app-success {
	color: #009966;
}

.app-functional {
	color: #336699;
}

.app-error {
	color: #b90909;
}

.app-disabled {
	color: #999999;
}

.app-label {
	font-size: 12px;
	margin: 0 4px;
}

.app-icon {
	margin: 4px 4px 4px 8px;
    width: 20px;
    text-align: center;
}