.app {
	display: flex;
	height: 100%;
}

.app-visual {
	width: 100%;
}

.app-menu {
	width: 300px;
	border: 1px solid black;
	flex-shrink: 0;
}

.app-success {
	color: #009966;
}

.app-functional {
	color: #336699;
}

.app-error {
	color: #b90909;
}

.app-disabled {
	color: #999999;
}